{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block body %}
  {% comment %} <h1>목록</h1>
  {% for i in article %}
    <div class="card m-3" style="width: 100;">
      <a href="{% url 'articles:detail' i.pk %}">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {{ i.pk }}</li>
          <li class="list-group-item">{{ i.title  }}</li>
          <li class="list-group-item">{{ i.content }}</li>
        </ul>
      </a>
    </div>
  {% endfor %} {% endcomment %}

  <!-- 파이스크립트 -->
  <py-script src="{% static 'script.py' %}"></py-script>
{% endblock body %}
